html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Bevan", cursive;
}

.top-bar {
  background-color: #79756f;
  border: 3px solid #595652;
}

nav li {
  background-color: #713837;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  padding: 0.75em;
  margin: 0 0 0.3em;
}

li:hover {
  background-color: #f33;
}
