html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  margin: 0;
}

h1 {
  color: #fff;
  font-family: "Bevan", serif;
  line-height: 1.5;
  margin: 0;
}

.top-bar {
  background-color: #79756f;
  border: 3px solid #595652;
}

nav li {
  background-color: #713837;
  border-radius: 5px;
  display: inline-block;
  font-family: sans-serif;
  list-style-type: none;
  margin: 0 0 0.3em;
  padding: 0.75em;
}

nav li:hover {
  background-color: #f33;
}

a {
  color: #fff;
  text-decoration: none;
}
