html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
  font-family: "Bevan", cursive;
  text-align: center;
}

.top-bar {
  background-color: #79756f;
  border: 3px solid #595652;
}

nav li {
  background-color: #713837;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  padding: .6em;
}
